@{
    ViewBag.Title = "Home Page";
}




<style>
    .textOverImage {
        position: relative;
        width: 300px;
        height: 300px;
        float: left;
        margin: 40px;
        background-size: 100%;
        background-position: center;
        transition: 0.5s;
    }

        .textOverImage:hover {
            background-size: 110%;
        }

        .textOverImage:after {
            position: absolute;
            top: 100%;
            bottom: 0;
            left: 0;
            right: 0;
            white-space: pre-wrap;
            word-wrap: break-word;
            overflow: hidden;
            background-color: rgba(0, 0, 0, 3);
            color: #fff;
            padding: 0 8px;
            content: attr(data-text);
            transition: 0.5s;
        }

        .textOverImage:hover:after {
            opacity: 1;
            top: 0;
            padding: 8px;
            background-color: rgba(0, 0, 0, 6);
        }

        .textOverImage:first-line {
            color: #fff;
            font-weight: bold;
            font-size: 1.5em;
        }
</style>

<div class="textOverImage"
     style="background-image:url(https://www.48hourslogo.com/48hourslogo_data/2017/05/22/61904_1495414085.jpg)"
     data-text="Prec. Auto Car wash detail:

Tell: 084 125 4859
Email: ngammjs@gmail.com
Website: www.precauto.co.za
Directions: https??sjdkjskd.couhs
Request: //https.www.bookjjs//?7

Waterless car wash service at your doorstep.">

</div>

<div class="textOverImage"
     style="background-image:url(https://cdn6.f-cdn.com/contestentries/1361833/28500870/5b3dc8c0ba8d7_thumb900.jpg)"
     data-text="Bubble Car Wash details:

Tell: 084 125 4859
Email: ngammjs@gmail.com
Website: www.bubblecarwash.co.za
Directions: https??sjdkjskd.couhs
Request: //https.www.bookjjs//?7

Waterless car wash service at your doorstep.">
</div>
<a href="htt://google.com">
    <div class="textOverImage"
      
         style="background-image:url(https://cdn3.f-cdn.com/contestentries/487933/15761918/57587c9fcbdf1_thumb900.jpg)"
       
         data-text="Coastal Car Wash details:

            Tell: 084 125 4859
            Email: ngammjs@gmail.com
            Website: www.coastalwash.co.za
            Directions: https??sjdkjskd.couhs
            Request: //https.www.bookjjs//?7

            Waterless car wash service at your doorstep.">
    </div>
</a>
<div class="textOverImage"
     style="background-image:url(https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto/gigs/109506967/original/e566a25575cb4a940f3341448bb208c351476eee/do-creative-attractive-car-wash-logo-design-for-you-business-only-22-hrs.png)"
     data-text="Dirty2Clen Car Wash:


Tell: 084 125 4859
Email: ngammjs@gmail.com
Website: www.dirty2clean.co.za
Directions: https??sjdkjskd.couhs
Request: //https.www.bookjjs//?7

Waterless car wash service at your doorstep.">
</div>

<div class="textOverImage"
     style="background-image:url(https://previews.123rf.com/images/natalimis/natalimis1611/natalimis161100293/68480746-express-car-wash-logo.jpg)"
     data-text="Rondriguez Car Wash:

Tell: 084 125 4859
Email: ngammjs@gmail.com
Website: www.ronddriguezwash.co.za
Directions: https??sjdkjskd.couhs
Request: //https.www.bookjjs//?7

Waterless car wash service at your doorstep.">
</div>

<div class="textOverImage"
     style="background-image:url(http://www.logotypes101.com/free_vector_logo_png/82708/AB1942736B73DA0C1F380928E128B38C/CALTEX)"
     data-text="CALTEX Car Wash:

Tell: 084 125 4859
Email: ngammjs@gmail.com
Website: www.caltexwash.co.za
Directions: https??sjdkjskd.couhs
Request: //https.www.bookjjs//?7

Waterless car wash service at your doorstep.">
</div>

<div class="textOverImage"
     style="background-image:url(http://www.tommycarwash.com/images/new/bbb-grey.png)"
     data-text="BBB Car Wash:

Tell: 084 125 4859
Email: ngammjs@gmail.com
Website: www.bbbcarwash.co.za
Directions: https??sjdkjskd.couhs
Request: //https.www.bookjjs//?7

Waterless car wash service at your doorstep.">
</div>

<div class="textOverImage"
     style="background-image:url(https://cdn.worldvectorlogo.com/logos/bp-logo.svg)"
     data-text="BP Car Wash:

Tell: 084 125 4859
Email: ngammjs@gmail.com
Website: www.bpcarwash.co.za
Directions: https??sjdkjskd.couhs
Request: //https.www.bookjjs//?7

Waterless car wash service at your doorstep.">
</div>

<div class="textOverImage"
     style="background-image:url(https://www.logodesignguru.com/images/industry-logos/carwash-03.png)"
     data-text="Dolphins Expr. Car Wash:

Tell: 084 125 4859
Email: ngammjs@gmail.com
Website: www.dolphinscarwash.co.za
Directions: https??sjdkjskd.couhs
Request: //https.www.bookjjs//?7

Waterless car wash service at your doorstep.">
</div>